{% extends 'base.html' %} {% block title %}Members{% endblock %} {% block content
    %}
    <div class="h-full">
      <div class="flex flex-row justify-between p-4">
        <form action="" method="get" class="flex flex-row justify-between items-center w-4/6 border border-zinc-300 shadow-sm rounded-md font-extralight h-8 p-1 pr-0 bg-white">
          <input
          class="h-7 w-full border-0 text-sm focus:outline-none p-2 mr-1"
          placeholder="Search for a member"
          id="search-box"
          name="search"
          value="{%if search%}{{search}}{% endif %}"
        />
        <button type="submit" class="shadow-md text-xs text-zinc-950 bg-gray-50 border border-gray-400 hover:drop-shadow-lg hover:shadow-inner rounded-md w-16 h-8 hidden" id="search-btn">Search</button>
        </form>
      <script>
        const searchButton = document.querySelector('#search-btn') 
        const searchBox = document.querySelector('#search-box') 
        searchBox.addEventListener('keydown',(event)=>{
            searchButton.classList.toggle('hidden',!event.target.value)
        })
      </script>
        <a class="w-1/12 h-8" href="{{url_for('add_member')}}">
            <!-- TODO add ring on hover to the buttons -->
            <button
            class="bg-catalina-blue-600 hover:bg-catalina-blue-800 text-white font-extralight text-sm rounded-md h-full w-full"
            >
            Add Member
            </button>
        </a>
          
        </div>
          <div class="flex justify-center" id="message">
            {% from 'includes/_formhelpers.html' import render_messages %}
            {{ render_messages(get_flashed_messages()) }}
          </div>
          {% if members %}
          <div class="p-4">
          <table class="table-fixed w-full">
            <thead class="text-left text-gray-600 text-sm bg-gray-100">
              <th class="pl-2 p-4">Name</th>
              <th class="pl-2 p-4">Email</th>
              <th class="pl-2 p-4">Member Since</th>
              <th class="pl-2 p-4 w-40">Outstanding Debt</th>
              <th class="w-64"></th>
            </thead>
            <tbody>
              {% for member in members %}
              <tr
                class="text-sm font-light text-gray-600 border-t border-b even:bg-gray-100"
              >
                <td class="pl-2 p-4">{{member.name}}</td>
                <td class="pl-2 p-4">{{member.email}}</td>
                <td class="pl-2 p-4">{{member.created_date}}</td>
                <td class="pl-2 p-4">{{member.outstanding_debt}}</td>
                <td class="p-4 flex justify-evenly">
                  <a href="{{url_for('return_book',member_id=member.member_id)}}">
                <!-- TODO disable return button if the rented count is 0 -->
                    <button
                    class="shadow-md text-xs text-zinc-950 bg-gray-50 border border-gray-400 hover:drop-shadow-lg hover:shadow-inner rounded-md w-16 h-7"
                    type="button">Return
                  </button>
                  </a>
                  <a href="{{url_for('edit_member',member_email=member.email)}}"><button
                    class="shadow-md text-xs text-zinc-950 bg-gray-50 border border-gray-400 hover:drop-shadow-lg hover:shadow-inner rounded-md w-16 h-7"
                    type="button"
                  >
                    Edit
                  </button>
                </a> 
                  <button
                    class="shadow-md text-xs text-zinc-950 bg-gray-50 border border-gray-400 hover:drop-shadow-lg hover:shadow-inner rounded-md w-16 h-7"
                    type="button"
                    onclick="openDeleteModal(event.target.value)"
                    value="{{member.email}}"
                  >
                    Delete
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <dialog class="w-72 h-36 rounded-md shadow-lg">
            <div class="p-6 h-full flex flex-col justify-between">
              <div class="font-semibold text-zinc-700 flex justify-center text-lg">Delete this Member?</div>
              <form action="{{url_for('delete_member')}}" method="post">
                {{delete_member_form.id()}}
                {{delete_member_form.csrf_token()}}
                <button type="button" id="close-btn" class="float-left bg-white border border-catalina-blue-600 rounded-md text-sm text-catalina-blue-600 font-extralight hover:bg-gray-200 w-24 h-8">Cancel</button>
                <button type="submit" class="float-right bg-catalina-blue-600 hover:bg-catalina-blue-800 text-white font-extralight text-sm rounded-md w-24 h-8">Delete</button>
              </form> 
            </div>
          </dialog>
          <script>
            const modal = document.querySelector('dialog')
            const deleteButton = document.querySelectorAll('button[delete-btn]')
            const closeButton = document.querySelector('#close-btn')
            function openDeleteModal(value) {
              menberToDelete = document.querySelector('#id')
              menberToDelete.value = value
              modal.showModal()
            }
            closeButton.addEventListener('click',()=>{
              modal.close()
            })
          </script>
          </div>
          {%elif no_members_message %}
            <div class="w-full flex justify-center items-center h-5/6">
              <div class="rounded-md bg-gray-100 font-medium text-sm text-zinc-400 border border-gray-300 p-14">
                {{no_members_message}}
              </div>
            </div>
          {% endif %}
      </div>
    </div>
      
    {% endblock %}   